/** Media Queries **/
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Luckiest Guy', cursive;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

button {
  background-color: #ed7800;
}

h1 {
  margin: 0;
  padding: 0;
}

/* ENTIRE PAGE WRAP */
.full-wrap {
  background-color: #ed7800;
  height: auto;
  height: 230px;
}

/* Generic STYLES */
.section-container-wrap {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0;
  height: auto;
}

.section-container-wrap .top-menu-container {
  height: 73px;
  background-color: #ed7800;
  position: relative;
  margin: 0;
}

.section-container-wrap .top-menu-container .brand-logo {
  width: 63px;
  position: absolute;
  top: 3px;
}

.section-container-wrap .bottom-menu-container {
  height: 60px;
  background-color: transparent;
}

/* TOP NAV */
.top-menu {
  height: 100%;
  display: flex;
  margin-left: 8rem;
  justify-content: space-around;
}

.top-menu-list-item {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem 1rem 1rem;
}

.list-alert {
  background: white;
  height: 74px;
}

.list-alert a.top-menu-list-item-anchor {
  color: #ed7800;
}

.top-menu .top-menu-list-item-anchor {
  color: white;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: .2rem;
}

.top-menu .top-menu-list-item-anchor:hover {
  color: #923535;
}

.social-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-link-anchor {
  color: white;
  font-size: 2.5rem;
  padding: .5rem;
}

.social-link-anchor:hover {
  color: #923535;
}

.mobile-container {
  position: absolute;
  right: 7px;
  top: 0;
  width: 50px;
  height: 100%;
}

@media (max-width: 1130px) {
  .top-menu .top-menu-list-item-anchor {
    font-size: 1.8rem;
  }
}

@media (max-width: 1065px) {
  .top-menu .top-menu-list-item-anchor {
    font-size: 1.7rem;
  }
}

@media (max-width: 1033px) {
  .top-menu {
    display: none;
  }
}

/* GALLERY */
.section-gallery {
  width: 100%;
  margin: 0 auto;
  background: url("../img/bg/bk-product-bg copy.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  height: 100px;
}

.middle-menu-container {
  margin: 0 auto;
  width: 1140px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  height: 100%;
}

.image-gallery-container {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem;
  height: 100%;
  align-items: center;
}

.image-item-container .image-item {
  width: 90px;
  padding-bottom: 0;
  margin-bottom: 0;
  transform: scale(1);
  display: inline-block;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: all .5s ease;
  cursor: pointer;
}

@media (max-width: 1110px) {
  .image-item-container .image-item {
    width: 70px;
  }
}

.image-item-container .image-item:hover {
  transform: scale(1.2);
}

.image-item-container .image-item-title {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.3rem;
  text-align: center;
  margin-top: -3px;
}

@media (max-width: 1110px) {
  .middle-menu-container {
    margin: 0 auto;
    width: 95%;
  }
}

.bottom-menu-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
  font-size: 2rem;
}

.bottom-menu-container a, span {
  color: white;
  margin: 0;
  padding: 0 10px;
  transform: translateY(3px);
}

.bottom-menu-container a:hover {
  color: #923535;
}

.featured-wrap {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
}

.featured-item {
  flex: 0 0 calc(50%);
  padding: 1rem;
  position: relative;
}

.featured-item img {
  width: 100%;
}

a.featured-button {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -55%);
  background: #ed7800;
  vertical-align: center;
  padding: 0;
  margin: 0;
  color: #fff;
  padding: 1rem 2rem;
  font-size: 2.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-item-wrap {
  position: relative;
}

.new-item-wrap img {
  width: 100%;
}

.footer-nav-full-width {
  background: url("../img/bg/bk-app-bg.jpg");
  position: relative;
}

.footer-nav-container {
  display: flex;
  justify-content: space-between;
  padding: 4rem 4rem;
  color: #8b542f;
}

.footer-nav-container .footer-nav-heading {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.footer-nav-container .footer-nav-item {
  margin-bottom: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.footer-nav-container .footer-nav-item a {
  color: #8b542f;
  font-size: 1.5rem;
}

.footer-img {
  width: 100%;
}
