
/** Media Queries **/
@mixin phone {
    @media only screen and (min-width: #{$phone}) {
        @content;
    }
}

@mixin tablet {
    @media only screen and (min-width: #{$tablet}) {
        @content;
    }
}
  
@mixin desktop {
    @media only screen and (min-width: #{$desktop}) {
        @content;
    }
}


@mixin box-sizing($box-model) {
    box-sizing: $box-model;
}

